.jumbotron {
    color: white;
    background-image: url('../media/hardware/ab_mic_array/mic_array_banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 60vh; */
}
