.jumbotron {
    color: white;
    background-image: url('../media/software/autogen/pietro-jeng-n6B49lTx7NM-unsplash.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 60vh; */
}

