/* Logo Colors:
--- Teal ---
 - Primary Teal - #138E8E
 - Light Teal - #B8DDDD  - 30% Opacity of Accent 3
 - Secondary Teal - #025951

--- Gray ---
 - Primary Gray - #595959
 - Light Gray - #D9D9D9
 - Black - #0D0D0D

--- Accents ---
 - Accent 1 - Yellow - #EDA9223
 - Light Accent 1 - Yellow - #FAE5BD  - 30% Opacity of Accent 3

 - Accent 2 - Blue - #264A9F
 - Light Accent 2 - Blue - #BDC8E2  - 30% Opacity of Accent 3

 -  Accent 3 - Orange - #ED7E23
 - Light Accent 3 - Orange - #FAD8BD - 30% Opacity of Accent 3
 */


@font-face {
    font-family: 'Big_John';
    src: url("../fonts/big_john.otf") format("opentype");
}

@font-face {
    font-family: 'Slim_Joe';
    src: url("../fonts/slim_joe.otf") format("opentype");
}

.jumbotron h1{
    padding-top: 27.5%; 
    font-family: 'Slim_Joe';
}

.jumbotron h2 { 
    font-family: 'Big_John';
}

.icons, a.icon-links{
    color: inherit;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Slim_Joe';
}

.icons h5{
    color: black;
    padding-top: 10px;

}

a.disabled {
    /* Make the disabled links grayish*/
    color: lightgray;
    /* And disable the pointer events */
    pointer-events: none;
}

.card {
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 1rem;
    border-radius: 10px;
    place-content: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.btn-block{
    background-color: lightgray;
}
