@font-face {
    font-family: 'Big_John';
    src: url("../fonts/big_john.otf") format("opentype");
}

@font-face {
    font-family: 'Slim_Joe';
    src: url("../fonts/slim_joe.otf") format("opentype");
}

.jumbotron h1{
    padding-top: 27.5%; 
    font-family: 'Slim_Joe';
}

.jumbotron h2 { 
    font-family: 'Big_John';
}

.icons, a.icon-links{
    color: inherit;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Slim_Joe';
}

.icons h5{
    color: black;
    padding-top: 10px;

}
