.jumbotron{
    background-image: url("../media/software/christian-wiediger-WkfDrhxDMC8-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
} 
